<h1>About this project</h1>

<p>I haven't finished a write up on this yet but you can check out my presentation slides here:</p>

<p>https://docs.google.com/presentation/d/1WV5aKehUgQPBBIuLdv5JW5WMShlxpTyM-_nLvvzcnXQ/edit?usp=sharing</p>
