@import "materialize/components/color";
$primary-color: color("teal", "lighten-2") !default;
$secondary-color: color("cyan", "lighten-3") !default;
@import 'materialize';
@import 'players';
@import 'videos';

body {
  padding-bottom: 60px;
}

nav {
  margin-bottom: 80px;
}

.btn {
  margin: 30px 0;
}

.bold-text {
  font-weight: 700;
}
