@import "materialize/components/color";
$primary-color: color("light-green", "base") !default;
$secondary-color: color("light-green", "base") !default;
@import 'materialize';
@import 'players';
@import 'videos';
@import 'shared';
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Baloo Bhaina', cursive;
}

nav {
  margin-bottom: 80px;
}

.btn {
  margin: 30px 0;
}

.bold-text {
  font-weight: 700;
}
