// .card-title {
//   color: black;
// }

.selected-video {
  text-align: center;
  margin: 40px auto;
  width: 60%;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.card-flex {
  // box-sizing: border-box;
  width: 33.33333%;
  padding: 1em;
  // margin: 20px 20px;
}

// .card {
//   height: 100%;
// }
//
// .card .horizontal {
//   height: inherit;
// }

.card-content {
  // padding-bottom: 5px;
}

.chip {
  margin-top: 10px;
}

.card-selected {
  width: 100%;
}

.video-show-header {
  height: 350px;
}

.video-player-photo {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
}

@media only screen and (max-device-width: 480px) {
  .selected-video {
    width: 100%;
  }

  .card-flex {
    width: 100%;
  }
}
