// .card-title {
//   color: black;
// }

.selected-video {
  text-align: center;
  margin: 40px auto;
  width: 60%;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-flex {
  box-sizing: border-box;
  width: 30%;
}

@media only screen and (max-device-width: 480px) {
  .selected-video {
    width: 100%;
  }

  .card-flex {
    width: 100%;
  }
}
