// .card-title {
//   color: black;
// }

.selected-video {
  text-align: center;
  margin: 40px auto;
  width: 60%;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-flex {

}
