<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">FFA</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render 'layouts/nav_headings' %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render 'layouts/nav_headings' %>
    </ul>
  </div>
</nav>
