<li><a href="/videos"><i class="material-icons left">video_library</i>Library</a></li>
<li><a href="/players"><i class="material-icons left">list</i>Players</a></li>
<li><a href="/about"><i class="material-icons left">info_outline</i>About</a></li>
